
.social .dropdown-menu > li .brand {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    float: left;
    height: 20px;
    width: 30px;
}

.social .dropdown-menu > li > a {
    padding: 4px;
}

.social .dropdown-menu > li > a span {
    display: inline-block;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: darkblue;
    text-decoration: none;
}


span.flag {
    margin-right: 16px;
    margin-top: 8px;
}

/*****UserInfo*******/

.userInfo {
    text-align: center;
    position: relative;
}

.userInfo .btn { display: inline-block; }

.userInfo, .authorizeBtn { background-color: #f8f8f8; padding: 25px 80px; text-align: left; }

.userInfo .btn, .authorizeBtn .btn {
    font-family: "OpenSans";
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    text-transform: none;
    width: 170px;
    text-transform: none;
    padding: 0;
    margin-bottom: 0;
    letter-spacing: normal;
    z-index: 20;
    position: absolute;
    right: 20px;
    top: 32px;
}

.authorizeBtn .btn { position: relative; right: auto; top: auto; }

.authorizeBtn .btn.active { cursor: pointer; }

.userInfo img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.userInfo p {
    color: #40454c;
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.authorizeBtn .social { width: auto; display: inline-block; }
.authorizeBtn p {
    color: black;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 10px;
}

.authorizeBtn .buttons .fb { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/fn-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .gp { background: #ffffff url("//s2.stc.all.kpcdn.net/share/i/beige/0e9da54e1ffedc4813b760962c16eb10.png") no-repeat center center; background-size: auto 75% !important;
    border: 1px solid #D2D2D2; }
.authorizeBtn .buttons .mm { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/mm-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .ya { background: transparent url("//s1.stc.all.kpcdn.net/share/i/cyan/9094f1dc315be0b878d55fd62f1780ce.png") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .ok { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/ok-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .tw { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/tw-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .vk { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/vk-enter.svg") no-repeat 0 0; background-size: contain; }
