* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

span.flag {
    margin-right: 16px;
    margin-top: 8px;
}

/*****UserInfo*******/

.userInfo {
    text-align: center;
    position: relative;
}

.userInfo .btn { display: inline-block; }

.userInfo, .authorizeBtn { background-color: #f8f8f8; padding: 25px 80px; text-align: left; }

.userInfo .btn, .authorizeBtn .btn {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    text-transform: none;
    width: 170px;
    text-transform: none;
    padding: 0;
    margin-bottom: 0;
    letter-spacing: normal;
    z-index: 20;
    position: absolute;
    right: 20px;
    top: 32px;
}

.authorizeBtn .btn { position: relative; right: auto; top: auto; }

.authorizeBtn .btn.active { cursor: pointer; }

.userInfo img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.userInfo p {
    color: #40454c;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
}

.authorizeBtn .buttons a {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-indent: -10000px;
}

.authorizeBtn .social { width: auto; display: inline-block; }
.authorizeBtn p {
    color: black;
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 10px;
}

.authorizeBtn .buttons .fb { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/fn-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .gp { background: #ffffff url("//s2.stc.all.kpcdn.net/share/i/beige/0e9da54e1ffedc4813b760962c16eb10.png") no-repeat center center; background-size: auto 75% !important;
    border: 1px solid #D2D2D2; }
.authorizeBtn .buttons .mm { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/mm-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .ya { background: transparent url("//s1.stc.all.kpcdn.net/share/i/cyan/9094f1dc315be0b878d55fd62f1780ce.png") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .ok { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/ok-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .tw { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/tw-enter.svg") no-repeat 0 0; background-size: contain; }
.authorizeBtn .buttons .vk { background: transparent url("//s1.stc.all.kpcdn.net/img/icons/enter/vk-enter.svg") no-repeat 0 0; background-size: contain; }


.menuHead  .btn_menu.active span, .menuHead .btn_menu.active span:after, .menuHead .btn_menu.active span:before { width: 24px; }
body .menuHead .btn_menu.active span { background-color: transparent; }
.menuHead .btn_menu.active { border-bottom: none; overflow: visible; }
.menuHead .btn_menu.active:after { opacity: 1; }
.menuHead .btn_menu.active span:before, .menuHead .btn_menu.active span:after { top: 0; }
.menuHead .btn_menu.active span:before {  transform: rotate(45deg); }
.menuHead .btn_menu.active span:after { transform: rotate(-45deg); }

.menuHead .btn_menu {
	color: #40454c;
	font-family: "OpenSans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	width: 60px;
	height: 60px;
	border: none;
	background-color: #0083cd;
	cursor: pointer;
	outline: none;
	position: relative;
	float: left;
	z-index: 45;
	overflow: hidden;
}

.menuHead .btn_menu:hover { overflow: visible; }

.menuHead .btn_menu span, .menuHead .btn_menu span:before, .menuHead .btn_menu span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 20px;
	background: white;
	position: absolute;
	display: block;
	content: '';
}

.menuHead .btn_menu span {
	right: 20px;
	top: 50%;
	margin-top: -1px;
}

.btn_menu span:after { bottom: -8px; }

.menuHead .btn_menu:after {
	content: "Меню сайта";
	opacity: 0;
	margin-left: 80px;
	line-height: 60px;
	display: block;
	width: 120px;
	text-align: left;

}

.btn_menu span:before { top: -8px; }
